.drawing {
    display: block;
    margin: auto;
}

.selected-avatar {
    border: 2px dashed gold;
}

.not-so-visible
{
    opacity: 0.5;
}

.drawing-guessed {
    border: 5px solid gold;
}

.avatar-icon {
    font-size: 50px;
}

.empty-icon {
    font-size: 256px;
    color: #acacac;
}

.star
{
    color: gold;
}

.app-title
{
    text-align: center;
    font-size: 128px;
    color: whitesmoke;
    text-shadow:#ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
}

.color-box
{
    margin: auto;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.canvas
{
    display: block;
    margin: auto;
	border: 2px solid #ccc;
}