* { 
   margin: 0;
   padding: 0;
}
body, html{
   width: 100%;
   height: 100%;
}
/*
#canvas {
   display: block;
}
*/
.canvas
{
    display: block;
    border: 1px solid;
    width: 400px;
    height: 400px;
}

.not-so-visible
{
    opacity: 0.5;
}

.im-the-invisible-man
{
    display: none;
}

.guessed
{
    opacity: 0.6;
    border: 5px solid gold;
}